<p>
  <img src="http://ransom-lawfirm.com/wp-content/uploads/2015/07/robbery.jpg">
</p>

<blockquote>
<p>You buy these tokens from me for valuable ETH and get get these ROBBERY receipts as proof of your being fleeced.
  <footer><a href="http://www.robberycoin.ecp.dltlab.de" target="_blank">http://www.robberycoin.ecp.dltlab.de</a></footer>
</blockquote>
